.dailyCell {
  border: 1px solid #d1d1d1;

  &.currentDay {
    background-color: #256d8516;
  }

  .cellWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .top {
      display: flex;
      flex-direction: row-reverse;

      p {
        padding: 0.4rem;

        &.otherMonth {
          opacity: 0.3;
        }
      }
    }

    .body {
      flex: 1;
      margin: 0 0.2rem;
    }
  }
}
