.task {
  display: flex;
  /* gap: 1rem; */
  padding: 0 0.5rem;
  font-size: small;

  .time {
    font-weight: 300;
  }

  .title {
    margin-left: 0.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
  }
}
