.container {
  position: relative;
  margin: auto;
  width: 70vw;
  height: 90vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  border-top: solid 0.5rem #256d85;
}
